<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysafer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activity.LostFindActivity"
            android:label="@string/title_activity_lost_find" >
        </activity>
        <activity
            android:name=".activity.Setup1Activity"
            android:label="@string/title_activity_setup1"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".activity.Setup2Activity"
            android:label="@string/title_activity_setup2" >
        </activity>
        <activity
            android:name=".activity.Setup3Activity"
            android:label="@string/title_activity_setup3" >
        </activity>
        <activity
            android:name=".activity.Setup4Activity"
            android:label="@string/title_activity_setup4" >
        </activity>
        <activity
            android:name=".activity.ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".activity.AToolsActivity"
            android:label="@string/title_activity_atools" >
        </activity>
        <activity
            android:name=".activity.AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name=".activity.DragViewActivity"
            android:label="@string/title_activity_drag_view"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.CallSafeActivity"
            android:label="@string/title_activity_call_safe" >
        </activity>
        <activity
            android:name=".activity.AppManagerActivity"
            android:label="@string/title_activity_app_manager" >
        </activity>
        <activity
            android:name=".activity.ProcessManagerActivity"
            android:label="@string/title_activity_process_manager" >
        </activity>
        <activity
            android:name=".activity.AntivirusActivity"
            android:label="@string/title_activity_antivirus" >
        </activity>
        <activity
            android:name=".activity.AppLockActivity"
            android:label="@string/title_activity_app_lock" >
        </activity>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AdminReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.AddressService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.CallSafeService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.WatchDogService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.InputPwdActivity"
            android:label="@string/title_activity_input_pwd"
            android:launchMode="singleInstance">
        </activity>
    </application>

</manifest>
